.container {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  padding: 0.25rem;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  font-weight: bold;
}

.layout {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: lightgray;
  grid-template-columns: 20% 80%;
  grid-template-rows: 3rem auto;
  overflow: hidden;
}

.toolbars {
  width: 100%;
  border-bottom: 1px solid gray;
}

.treeView {
  overflow: auto;
  height: calc(100% - 2rem);
  display: flex;
}

.tabs {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.editor {
  border-left: 1px solid gray;
}