.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: lightgray;
  grid-template-columns: 20% 80%;
  grid-template-rows: 3rem auto;
  overflow: hidden;
}

.toolbars {
  width: 100%;
  border-bottom: 1px solid gray;
}

.treeView {
  overflow: auto;
}

.tabs {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.editor {
  border-left: 1px solid gray;
}